.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  animation: fade-in 1s ease-in-out;
  padding: 20px;
}

.subtitle {
  color: #1d80d2;
  animation: fade-in 1s ease-in-out;
  font-weight: normal;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media(max-width: 700px) {
  
}