input {
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
}

input[type="file"] {
  padding: 0;
}

input[type="file"]::file-selector-button {
  border-radius: 0;
  border: none;
  background-color: #2196f3;
  padding: 10px;
  font-size: 1em;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  width: 150px;
  margin-right: 20px;
}

input[type="file"]::file-selector-button:hover {
  cursor: pointer;
  background-color: #1d80d2;
}

input[type="file"]::file-selector-button:focus {
  outline: none;
  border: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.subcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 450px;
  background-color: rgba(255, 255, 255, .8);
  filter: drop-shadow(5px 5px rgba(0, 0, 0, .1));
  border-radius: 10px;
}

.message {
  margin: 10px, 0, 0, 0;
  color: #dd1b16;
  font-size: 1.1em;
  padding: 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.button {
  width: calc(100% - 20px);
  border-radius: 0;
  border: none;
  background-color: #2196f3;
  padding: 10px 0px;
  font-size: 1em;
  border-radius: 3px;
  color: white;
  font-weight: 500;
}

.button:hover {
  cursor: pointer;
  background-color: #1d80d2;
}

.form input {
  margin: 10px;
  padding: 10px;
}

.form input:last-of-type {
  margin-bottom: 20px;
}

.form input:focus {
  outline: none;
  border: 2px solid #2196f3;
  border-radius: 3px;
}

.form div a {
  text-decoration: none;
  color: black;
  width: calc(100% - 20px);
  text-align: center;
  padding: 10px 0px;
  border-radius: 3px;
}

.form div a:first-of-type {
  margin-top: 10px;
}

.form div a:hover {
  background-color: rgba(0, 0, 0, .1);
}

.form-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}