.container {
  display: flex;
  align-items:center;
  justify-content: center;
}

.welcome-section-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-section {
  width: 100%;
}

.landing-header {
  font-size: 3em;
  margin-bottom: 50px;
  animation: fade-in 500ms ease-in-out;
  text-align: center;
}

.landing-subheader {
  opacity: 0;
  font-size: 2em;
  margin-bottom: 50px;
  animation: fade-in 500ms ease-in-out 1s forwards;
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/van-desert.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 500px;
}

.headers-container {
  margin-bottom: 30px;
  padding: 10px;
}

.add-trip-btn-big {
  text-decoration: none;
  opacity: 0;
  color: white;
  background-image: linear-gradient(90deg, rgba(100,94,201, .9) 0%, rgba(98,146,232,.9) 50%, rgba(100,149,237,.9) 100%);
  padding: 40px;
  font-size: 32px;
  transition: background-color 250ms ease-in-out;
  animation: fade-in 500ms ease-in-out 2s forwards;
}

.add-trip-btn-big:hover {
  background-color: rgba(0, 0, 0, .1);
  background-blend-mode: multiply;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media(max-width: 700px) {
  .landing-header {
    font-size: 1.5em;
  }
  .landing-subheader {
    font-size: 1.3em;
  }
  .add-trip-btn-big {
    font-size: 1.5em;
  }
}

@media(max-width: 1000px) {
  .landing-header {
    font-size: 2em;
    margin-bottom: 25px;
  }
  .landing-subheader {
    font-size: 1.7em;
    margin-bottom: 25px;
  }
  .add-trip-btn-big {
    font-size: 1.5em;
  }
}