.container {
  display: flex;
  align-items:center;
  justify-content: center;
}

.welcome-section-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-section {
  width: 100%;
}

.landing-header {
  font-size: 3em;
  margin-bottom: 50px;
  animation: fade-in 500ms ease-in-out;
}

.landing-subheader {
  font-size: 2em;
  margin-bottom: 50px;
  color: white;
  animation: fade-in 500ms ease-in-out 1s forwards;
}

.login-container {
  display: flex;
  justify-content: center;
  background-image: url(/images/van-desert.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.headers-container {
  margin-bottom: 80px;
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@keyframes fade-in {
  0% {
    color: white;
    transform: translateX(100%)
  }
  100% {
    color: black;
    transform: translateX(0)
  }
}