.container {
  margin: 20px;
  /* border-radius: 10px;
  background-color: rgba(235, 235, 235) */
}

.btn-container {
  display: flex;
  gap: 10px;
  padding-left: 20px;
}

.btn {
  text-decoration: none;
  color: rgba(5, 5, 5, .5);
  padding: 10px;
  transition: background-color 250ms ease-in-out;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-right: 1px solid rgba(0, 0, 0, .2);
  border-left: 1px solid rgba(0, 0, 0, .2);
}

/* .schedule-btn, .expenses-btn, .packing-list-btn {
  background-image: linear-gradient(90deg, rgba(104,94,201,1) 0%, rgba(182,98,232,1) 50%, rgba(216,100,237,1) 100%);
} */

.schedule-btn:hover, .expenses-btn:hover, .packing-list-btn:hover {
  background-color: rgba(0, 0, 0, .2);
  background-blend-mode: color;
  transition: none;
  cursor: pointer;
}

.main-btn {
  font-size: 1.1em;
}

.active {
  background: rgba(215, 215, 215);
  color: white;
}

.active:hover {
  background: rgba(215, 215, 215);
  cursor:auto
}

.title {
  background-image: url(/images/details-banner.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, .3);
  background-blend-mode: color;
  padding: 40px;
  font-family: 'Pacifico', cursive;
  font-size: 3.5em;
  color: rgba(25, 25, 25, .85);
  margin: 0;
  border-radius: 10px;
  text-align: center;
}

.details, .destination {
  font-weight: 500;
  text-align: center;
  font-size: 1.4em;
}

.details {
  font-size: 1.1em;
}

.details-container {
  margin: 25px 0px 60px 0px;
}

.bold {
  font-weight: bold;
  /* color: rgba(104,94,201,1); */
  color: rgba(5, 5, 5, .7);
  font-size: 1.1em;
}