.icon {
  font-size: 1.5em;
  margin-left: 5px;
}

.btn-text-icon-container {
  display: flex;
  align-items: center;
}

.add-expense-btn {
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: #2196f3;
  color: white;
  font-size: 1.2em;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, .1));
}

.add-expense-btn:hover,
.create-expense-btn:hover {
  cursor: pointer;
  background-color: #1d80d2;
}

.form {
  margin-top: 30px;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, .8);
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, .1));
  border-radius: 10px;
  color: rgba(0, 0, 0, .8)
}

.form input, .form select, .form textarea {
  margin: 5px 0px;
  width: 280px;
}

.form textarea {
  padding: 3px;
}

.form select {
  padding: 3px;
}

.create-expense-btn {
  border-radius: 0;
  border: none;
  background-color: #2196f3;
  padding: 10px 0px;
  font-size: 1em;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  width: 90%;
}

.expense-list-container {
  padding: 10px 15px;
}

.total {
  color: #e44d26;
  font-weight: bold;
}

.total-message {
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .1);
  padding: 15px;
  margin: 10px 0 0 0;
  background-image: linear-gradient(90deg, rgba(33,150,243,0.2) 0%, rgba(33,150,243,0.1) 50%, rgba(33,150,243,0) 100%);
}