.form {
  padding: 20px;
  padding-top: 50px;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, .85);
  color: rgba(0, 0, 0, .7);
  text-align: center;
  z-index: 1000;
}

.form input, .form select, .form textarea {
  margin: 5px 0px;
  width: 100%;
  max-width: 500px;
  padding: 3px;
}

.create-expense-btn {
  border-radius: 0;
  border: none;
  background-color: #2196f3;
  padding: 10px 0px;
  font-size: 1em;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  width: 100%;
  max-width: 450px;
  margin-top: 5px;
}

.create-expense-btn:hover {
  cursor: pointer;
  background-color: #1d80d2;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.hide-btn {
  border: none;
  background-color: whitesmoke;
  color: rgb(33, 150, 243);
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  padding: unset;
  display: flex;
  align-items: center;
  transition: background-color 100ms ease-in-out;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, .1));
  position: absolute;
  left: 20px;
  top: 20px;
}

.hide-btn:hover {
  cursor: pointer;
  background-color: rgb(33, 150, 243, .1);
}