.container {
  border-top: 1px solid rgb(0, 0, 0, .2);
  padding: 20px;
  border-radius: 10px;
}

.add-schedule-item-btn {
  border: none;
  background-color: rgb(245, 245, 245, .9);
  padding: 8px;
  color: rgb(33, 150, 243);
  font-size: 1.3em;
  border: 1px solid rgb(33, 150, 243);
  border-radius: 10px;
  transition: background-color 150ms ease-in-out;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, .1));
  margin-left: 10px;
  position: sticky;
  top: 20px;
}

.add-schedule-item-btn:hover {
  cursor: pointer;
  background-color: rgba(165, 213, 252, 0.9);
}

.icon {
  font-size: 1.2em;
  margin-left: 5px;
  padding: none;
  fill: #2196f3;
}

.btn-text-icon-container {
  display: flex;
  align-items: center;
}

.empty {
  font-weight: 400;
  font-size: 1.2em;
  padding-left: 10px;
}

.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}