.card {
  border-radius: 3px;
  padding: 20px;
  max-width: calc(100vw - 40px);
  width: 100%;
  min-width: 400px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.card:last-of-type {
  border-bottom: none;
}

.expense {
  color: #333;
  font-size: 1.3em;
  background-color: rgba(117, 238, 159, .6);
  padding: 5px 10px;
  border-radius: 10px;
}

.date,
.category,
.note,
.cost,
.location {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.cost {
  color: rgb(209, 26, 42, .7);
  font-weight: bold;
}

.expense-category-pair {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  margin: 5px 0px;
  padding: 5px 0px 10px 0px;
  font-size: 1em;
}

.note {
  padding: 5px 0px 10px 0px;
}

.cost {
  padding: 5px;
  font-size: 1.2em;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.delete-icon {
  font-size: 1.8em;
  fill: rgb(209, 26, 42, .7);
}

.edit-icon {
  font-size: 1.8em;
  fill:rgb(117, 238, 159, 1);
}

.btn {
  background-color: white;
  padding: unset;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.delete-btn {
  border: 1px solid rgb(209, 26, 42, .7);
}

.edit-btn {
  border: 1px solid rgb(117, 238, 159, .8);
}

.delete-btn:hover {
  background-color: rgba(209, 26, 42, .1);
  cursor: pointer;
}

.edit-btn:hover {
  background-color: rgb(117, 238, 159, .3);
  cursor: pointer;
}

.btn-container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.form {
  margin-top: 30px;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, .8)
}

.form input, .form select, .form textarea {
  margin: 5px 0px;
  width: 250px;
}

.form textarea {
  padding: 3px;
}

.form select {
  padding: 3px;
}

.update-expense-btn {
  border-radius: 0;
  border: none;
  background-color: #2196f3;
  padding: 10px 0px;
  font-size: 1em;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  width: 250px;
}