@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Quicksand', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;

  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(5, 5, 5, .85);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.nav-container {
  background-image: url('/images/nav-maps.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, .5);
  background-blend-mode: multiply;
  padding-bottom: 15px;
}

.main-nav {
  text-align: center;
  font-size: 1.15em;
  font-weight: light;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  height: 60px;
  background-color: rgba(255, 255, 255, .6)
}

.main-nav > ul {
  margin: 0;
  padding: 16px 32px;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  padding: 0 5%;
}

.main-nav a {
  padding: .5em;
  text-decoration: none;
  color: black;
}

.main-nav a:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.main-title {
  text-align: center;
  font-size: 4em;
  margin: 0 0 10px 0;
  font-family: 'Pacifico', cursive;
}

.sub-title {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin: 0;
}

