*,
*::before,
*::after {
  box-sizing: inherit;
}


body, html {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;

  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  color: #00d8ff
}

.main-nav {
  text-align: center;
}

.main-nav > ul {
  margin: 0;
  padding: 16px 32px;
  list-style: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav a {
  padding: .5em;
  text-decoration: none;
  color: black;
}

.main-nav a:hover {
  background-color: rgba(255, 255, 255, .3);
  cursor: pointer;
}
}

