.list-container {
  margin: 10px 0px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 500px;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 200);
  filter: drop-shadow(5px 5px rgba(0, 0, 0, .1));
  color: rgba(0, 0, 0, .8)
}

.list-item-container {
  display: flex;
  align-items: center;
}

.list-item {
  margin: unset;
  margin: 10px;
}

.checkbox {
  width: 25px;
}

input[type="checkbox"] {
  height: 20px;
  accent-color: #2196f3;
}

.btn-text-icon-container {
  display: flex;
  align-items: center;
}

.add-list-item-btn {
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: #2196f3;
  color: white;
  font-size: 1.2em;
}

.add-list-item-btn:hover {
  cursor: pointer;
  background-color: #1d80d2;
}

.icon {
  font-size: 1.5em;
  margin-left: 5px;
}

.form {
  width: 100%;
  max-width: 500px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, .8);
  filter: drop-shadow(5px 5px rgba(0, 0, 0, .1));
  border-radius: 10px;
  color: rgba(0, 0, 0, .8)
}

.header {
  padding: 20px;
  margin: unset;
  font-weight: 500;
  font-size: 1.5em;
  align-self: center;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  width: 95%;
}